In [1]:
n =int(input("Enter a value"))
sum = 0

while(n!=0):
    digit = n%10
    sum = sum + digit
    n//=10
print(f"The sum of the digits is : {sum} ")

Enter a value 353

The sum of the digits is : 11

In [2]:
n = int(input("Enter a value"))
rev = 0
while(n!=0):
    digit = n%10
    rev = rev*10 + digit
    n//=10
print(f"The Reverse of the digit is {rev} ")

Enter a value 345

The Reverse of the digit is 543

In [4]:
def palin(n):
    rev = 0
    temp = n
    while(n!=0):
        digit = n%10
        rev = rev*10 + digit
        n//=10
    if(rev == temp):
        print(f"This is a palindrome No. {rev} ")
    else:
        print(f"This is not a palindrome no.  ")

palin(1373)

This is not a palindrome no.

In [10]:
def arm(n):
    temp = n
    rev = 0
    while(n!=0):
        digit = n%10
        rev = digit**3 + rev
        n//=10
    if(rev == temp):
        print(f"This is an armstrong no. {rev} ")
    else:
        print(f"This is not an armstrong no.")

arm(371)

This is an armstrong no. 371

In [11]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [38]:
df = pd.read_csv('C://Users//delli//OneDrive//Desktop//Global Superstore.csv')
df.head(5)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,City,State,...,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
0,32298,CA-2012-124891,31-07-2012,31-07-2012,Same Day,RH-19495,Rick Hansen,Consumer,New York City,New York,...,TEC-AC-10003033,Technology,Accessories,Plantronics CS510 - Over-the-Head monaural Wir...,2309.650,7,0.0,762.1845,933.57,Critical
1,26341,IN-2013-77878,05-02-2013,07-02-2013,Second Class,JR-16210,Justin Ritter,Corporate,Wollongong,New South Wales,...,FUR-CH-10003950,Furniture,Chairs,"Novimex Executive Leather Armchair, Black",3709.395,9,0.1,-288.7650,923.63,Critical
2,25330,IN-2013-71249,17-10-2013,18-10-2013,First Class,CR-12730,Craig Reiter,Consumer,Brisbane,Queensland,...,TEC-PH-10004664,Technology,Phones,"Nokia Smart Phone, with Caller ID",5175.171,9,0.1,919.9710,915.49,Medium
3,13524,ES-2013-1579342,28-01-2013,30-01-2013,First Class,KM-16375,Katherine Murray,Home Office,Berlin,Berlin,...,TEC-PH-10004583,Technology,Phones,"Motorola Smart Phone, Cordless",2892.510,5,0.1,-96.5400,910.16,Medium
4,47221,SG-2013-4320,05-11-2013,06-11-2013,Same Day,RH-9495,Rick Hansen,Consumer,Dakar,Dakar,...,TEC-SHA-10000501,Technology,Copiers,"Sharp Wireless Fax, High-Speed",2832.960,8,0.0,311.5200,903.04,Critical

In [29]:
df['Category']=df['Category'].str.replace('Technology','Tech')

In [30]:
df.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,City,State,...,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
0,32298,CA-2012-124891,31-07-2012,31-07-2012,Same Day,RH-19495,Rick Hansen,Consumer,New York City,New York,...,TEC-AC-10003033,Tech,Accessories,Plantronics CS510 - Over-the-Head monaural Wir...,2309.650,7,0.0,762.1845,933.57,Critical
1,26341,IN-2013-77878,05-02-2013,07-02-2013,Second Class,JR-16210,Justin Ritter,Corporate,Wollongong,New South Wales,...,FUR-CH-10003950,Furniture,Chairs,"Novimex Executive Leather Armchair, Black",3709.395,9,0.1,-288.7650,923.63,Critical
2,25330,IN-2013-71249,17-10-2013,18-10-2013,First Class,CR-12730,Craig Reiter,Consumer,Brisbane,Queensland,...,TEC-PH-10004664,Tech,Phones,"Nokia Smart Phone, with Caller ID",5175.171,9,0.1,919.9710,915.49,Medium
3,13524,ES-2013-1579342,28-01-2013,30-01-2013,First Class,KM-16375,Katherine Murray,Home Office,Berlin,Berlin,...,TEC-PH-10004583,Tech,Phones,"Motorola Smart Phone, Cordless",2892.510,5,0.1,-96.5400,910.16,Medium
4,47221,SG-2013-4320,05-11-2013,06-11-2013,Same Day,RH-9495,Rick Hansen,Consumer,Dakar,Dakar,...,TEC-SHA-10000501,Tech,Copiers,"Sharp Wireless Fax, High-Speed",2832.960,8,0.0,311.5200,903.04,Critical

In [32]:
file = pd.read_csv("C://Users//delli//Downloads//h1b_kaggle.csv//h1b_kaggle.csv")
file.head(4)

,Unnamed: 0,CASE_STATUS,EMPLOYER_NAME,SOC_NAME,JOB_TITLE,FULL_TIME_POSITION,PREVAILING_WAGE,YEAR,WORKSITE,lon,lat
0,1,CERTIFIED-WITHDRAWN,UNIVERSITY OF MICHIGAN,BIOCHEMISTS AND BIOPHYSICISTS,POSTDOCTORAL RESEARCH FELLOW,N,36067.0,2016.0,"ANN ARBOR, MICHIGAN",-83.743038,42.280826
1,2,CERTIFIED-WITHDRAWN,"GOODMAN NETWORKS, INC.",CHIEF EXECUTIVES,CHIEF OPERATING OFFICER,Y,242674.0,2016.0,"PLANO, TEXAS",-96.698886,33.019843
2,3,CERTIFIED-WITHDRAWN,"PORTS AMERICA GROUP, INC.",CHIEF EXECUTIVES,CHIEF PROCESS OFFICER,Y,193066.0,2016.0,"JERSEY CITY, NEW JERSEY",-74.077642,40.728158
3,4,CERTIFIED-WITHDRAWN,"GATES CORPORATION, A WHOLLY-OWNED SUBSIDIARY O...",CHIEF EXECUTIVES,"REGIONAL PRESIDEN, AMERICAS",Y,220314.0,2016.0,"DENVER, COLORADO",-104.990251,39.739236

KeyError: 'YEAR'

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,City,State,...,CASE_STATUS,EMPLOYER_NAME,SOC_NAME,JOB_TITLE,FULL_TIME_POSITION,PREVAILING_WAGE,YEAR,WORKSITE,lon,lat
0,32298.0,CA-2012-124891,31-07-2012,31-07-2012,Same Day,RH-19495,Rick Hansen,Consumer,New York City,New York,...,CERTIFIED-WITHDRAWN,UNIVERSITY OF MICHIGAN,BIOCHEMISTS AND BIOPHYSICISTS,POSTDOCTORAL RESEARCH FELLOW,N,36067.0,2016.0,"ANN ARBOR, MICHIGAN",-83.743038,42.280826
1,26341.0,IN-2013-77878,05-02-2013,07-02-2013,Second Class,JR-16210,Justin Ritter,Corporate,Wollongong,New South Wales,...,CERTIFIED-WITHDRAWN,"GOODMAN NETWORKS, INC.",CHIEF EXECUTIVES,CHIEF OPERATING OFFICER,Y,242674.0,2016.0,"PLANO, TEXAS",-96.698886,33.019843
2,25330.0,IN-2013-71249,17-10-2013,18-10-2013,First Class,CR-12730,Craig Reiter,Consumer,Brisbane,Queensland,...,CERTIFIED-WITHDRAWN,"PORTS AMERICA GROUP, INC.",CHIEF EXECUTIVES,CHIEF PROCESS OFFICER,Y,193066.0,2016.0,"JERSEY CITY, NEW JERSEY",-74.077642,40.728158
3,13524.0,ES-2013-1579342,28-01-2013,30-01-2013,First Class,KM-16375,Katherine Murray,Home Office,Berlin,Berlin,...,CERTIFIED-WITHDRAWN,"GATES CORPORATION, A WHOLLY-OWNED SUBSIDIARY O...",CHIEF EXECUTIVES,"REGIONAL PRESIDEN, AMERICAS",Y,220314.0,2016.0,"DENVER, COLORADO",-104.990251,39.739236
4,47221.0,SG-2013-4320,05-11-2013,06-11-2013,Same Day,RH-9495,Rick Hansen,Consumer,Dakar,Dakar,...,WITHDRAWN,PEABODY INVESTMENTS CORP.,CHIEF EXECUTIVES,PRESIDENT MONGOLIA AND INDIA,Y,157518.4,2016.0,"ST. LOUIS, MISSOURI",-90.199404,38.627003

Index(['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Customer Name', 'Segment', 'City', 'State', 'Country',
       'Market', 'Region', 'Product ID', 'Category', 'Sub-Category',
       'Product Name', 'Sales', 'Quantity', 'Discount', 'Profit',
       'Shipping Cost', 'Order Priority', 'Unnamed: 0', 'CASE_STATUS',
       'EMPLOYER_NAME', 'SOC_NAME', 'JOB_TITLE', 'FULL_TIME_POSITION',
       'PREVAILING_WAGE', 'YEAR', 'WORKSITE', 'lon', 'lat'],
      dtype='object')

In [19]:
n = 5
for row in range(1,2*n):
    if(row<=n):
        total=row
    else:
        total=2*n-row
    for col in range(1,total+1):
        print("* ",end='')
    print()

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [20]:
n = 5
for row in range(1,2*n):
    if(row<=n):
        total=n-row+1
    else:
        total=row-n+1
    for col in range(1,total+1):
        print("* ",end = '')
    print()

* * * * *
* * * *
* * *
* *
*
* *
* * *
* * * *
* * * * *

In [2]:
n = 5

for row in range(1,n+1):
    for col in range(1,row+1):
        print("* ",end ='')
    print()

*
* *
* * *
* * * *
* * * * *

In [5]:
n = 5
for row in range(0,n+1):
    for col in range(1,n-row+1):
        print("* ",end='')
    print()

* * * * *
* * * *
* * *
* *
*

In [6]:
n = 5
for row in range(1,n+1):
    for col in range(1,n+1):
        print(col,end = '')
    print()

12345
12345
12345
12345
12345

In [9]:
n = 5
for row in range(1,2*n+1):
    if(row<=n):
        total = row
    else:
        total = 2*n-row+1
    for col in range(1,total+1):
        print("* ",end ='')
    print()

*
* *
* * *
* * * *
* * * * *
* * * * *
* * * *
* * *
* *
*

In [10]:
n = 5
for row in range(1,2*n+1):
    if(row<=n):
        total = n-row+1
    else:
        total = row-n
    for col in range(1,total+1):
        print("* ",end = '')
    print()

* * * * *
* * * *
* * *
* *
*
*
* *
* * *
* * * *
* * * * *

In [12]:
n = 5

for row in range(1,2*n):
    if(row<=n):
        total = row
    else:
        total = 2*n-row
    for col in range(1,total+1):
        print("* ",end= '')
    print()

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [13]:
n = 5

for row in range(1,2*n):
    if(row<=n):
        total = n-row+1
    else:
        total = row - n+1
    for col in range(1,total+1):
        print("* ",end='')
    print()

* * * * *
* * * *
* * *
* *
*
* *
* * *
* * * *
* * * * *